@import "_reset.scss";
@import "_variables.scss";
.swiper {
  max-width: 1920px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  margin-top: 420px;
  margin-bottom: 247px;
  &__title {
    color: black;
    max-width: 581px;
    padding-bottom: 38px;
  }
  &__container {
    position: relative;
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 47px;
      left: auto;
      z-index: 20;
      width: 67px;
      font-size: 37px;
      @include arrow-bg;
      @include arrow;
    }
    .swiper-button-next {
      right: 15px;
      background: var(--slider-button);
      color: var(--white);
    }
    .swiper-button-prev {
      right: 85px;
      color: var(--slider-button);
      transition: all 0.3s ease 0s;
      &:hover {
        background: var(--slider-button);
        color: var(--white);
      }
    }
  }
  .card {
    position: relative;
    max-width: 420px;
    min-height: 422px;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      content: "";
      width: 100%;
      height: 100%;
      background: var(--gradient-cards);
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content {
      z-index: 3;
      position: absolute;
      bottom: 0px;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 39px 44px 39px;
      &-title {
        width: 280px;
      }
      &-icon {
        @include arrow-bg;
        border: 3px solid var(--hover-color);
        transition: all 0.3s ease 0s;
        opacity: 0;
        i {
          @include arrow;
        }
      }
    }
    &__link {
      position: absolute;
      z-index: 4;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:hover {
      .card__content-icon {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1270px) {
  .swiper {
    margin-top: 100px;
    margin-bottom: 150px;
  }
}
@media (max-width: 980px) {
  .swiper {
    &__title {
      padding-bottom: 100px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 130px;
    }
    .card {
      max-width: 520px;
      min-height: 522px;
      margin: 0 auto;
    }
    .card__content {
      &-title {
        width: 260px;
      }
    }
  }
}
@media (max-width: 700px) {
  .swiper {
    .card__content {
      &-title {
        width: 180px;
      }
    }
  }
}
@media (max-width: 500px) {
  .swiper{
    .swiper-button-next,
    .swiper-button-prev {
      top: 170px;
    }
  }
}
@media (max-width: 424px){
  .swiper{
      margin-top: 60px;
      margin-bottom: 100px;
    &__title{
      padding-bottom: 55px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}