@import "_reset.scss";
@import "_variables.scss";

.template-left {
  @include template-container;
  &__img-wrapper {
    max-width: 1011px;
    z-index: 1;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 0 15px 15px 0;
    }
  }
  &__border {
    @include template-border;
    top: 72px;
    left: 197px;
    border-image-source: var(--gradient-main-right);
  }
  .success-company {
    @include template-bg;
    right: 0;
    border-radius: 15px 0 0 15px;
    padding: 68px 0 68px 82px;
    &__subtitle {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: var(--white);
      padding-top: 28px;
    }
    &__list {
      padding-top: clamp(0.313rem, -0.137rem + 2.25vw, 2.563rem);
      &-item {
        position: relative;
        padding-left: 30px;
        padding-top: 18px;
        &::before {
          position: absolute;
          top: 20px;
          left: 0;
          padding-left: 14px;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: var(--gradient-main-right);
        }
        &::after {
          position: absolute;
          content: "";
          top: 25px;
          left: 5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: var(--dark);
        }
      }
    }
  }
  .success-measurement {
    @include template-bg;
    right: 0;
    border-radius: 15px 0 0 15px;
    padding: 193px 0 193px 82px;
    &__title {
      max-width: 650px;
      padding-bottom: 31px;
    }
    &__txt {
      max-width: 559px;
      & + * {
        padding-top: 18px;
      }
    }
    &__btn {
      margin-top: 41px;
    }
  }
}
.template-right {
  @include template-container;
  margin-bottom: 350px;
  flex-direction: row-reverse;
  .logistics {
    @include template-bg;
    left: 0;
    border-radius: 0 15px 15px 0;
    padding: 163px 82px 163px clamp(5.125rem, -43.536rem + 51.9vw, 18.75rem);
    &__title {
      padding-bottom: 31px;
    }
    &__txt {
      max-width: 739px;
      & + * {
        padding-top: 18px;
      }
    }
    &__btn {
      margin-top: 43px;
    }
  }
  &__img-wrapper {
    max-width: 1011px;
    z-index: 1;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 15px 0 0 15px;
    }
  }
  &__border {
    @include template-border;
    top: 102px;
    right: 197px;
    border-image-source: var(--gradient-main-left);
  }
}
@media (max-width: 1650px) {
  .template-right__img-wrapper,
  .template-left__img-wrapper {
    max-width: 800px;
  }
}
@media (max-width: 1270px) {
  .template-left .success-company,
  .template-left .success-measurement,
  .template-right .logistics {
    top: 0;
    opacity: 0.95;
    max-width: 100%;
    border-radius: 0;
  }
  .template-left,
  .template-right {
    display: block;
    &__border {
      display: none;
    }
  }
  .template-right__img-wrapper,
  .template-left__img-wrapper {
    max-width: 100%;
    img {
      border-radius: 0;
      height: 750px;
    }
  }
}
@media (max-width: 980px) {
  .template-left .success-company {
    padding: 68px 0;
  }
  .template-left .success-measurement,
  .template-right .logistics {
    padding: 150px 0;
  }
}
@media (max-width: 700px) {
  .template-left {
    .img {
      height: 1000px;
    }
    .success-company {
      height: 1000px;
    }
    .success-measurement {
      text-align: center;
    }
  }
  .template-right .logistics {
    text-align: center;
  }
}
@media (max-width: 424px) {
  .template-left {
    .img {
      height: 1040px;
    }
    .success-company {
      height: 1040px;
      padding: 30px 0;
    }
  }
  .template-right .logistics {
    padding: 50px 0;
  }
}
