.news {
  padding: 304px 0 130.5px;
  &__wrapper {
    @include display-flex(row, space-between, center);
    padding-bottom: 44px;
    &-titel {
      color: $dark;
    }
  }
  &__items {
    @include display-flex(row, stretch, stretch);
    gap: 30px;
  }
  .card {
    width: 308px;
    height: 456px;
    border-radius: 13px;
    background: $white-shade;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &__content {
      @include display-flex(column, space-between, stretch);
      padding: 21px 21px 32px 21px;
      position: relative;
      .date {
        @include display-flex(column, center, center);
        position: absolute;
        top: 21px;
        right: 21px;
        width: 92px;
        height: 92px;
        background: $white;
        border-radius: 50%;
        &__number {
          font-size: 28px;
          line-height: 33px;
          color: $dark;
        }
        &__month {
          font-size: 13px;
          line-height: 18px;
          text-transform: uppercase;
          color: $dark-shade;
        }
      }
      &-heading {
        padding: 274px 0 17px;
        font-size: clamp(1.25rem, 0.762rem + 0.62vw, 1.5rem);
        line-height: 30px;
        transition: all 0.4s ease-in-out 0.1s;
      }
      &-inner {
        @include display-flex(column, center, stretch);
        .txt {
          opacity: 0;
          font-size: 16px;
          line-height: 23px;
          overflow: hidden;
          transform: translateY(calc(100% - 54px));
          transition: all 0.4s ease-in-out 0.2s;
          -webkit-transition: all 0.4s ease-in-out 0.2s;
        }
        .more {
          @include display-flex(row, stretch, center);
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
          span:last-child {
            padding-left: 9px;
          }
          &:hover{
            color: $hover-color;
          }
        }
      }
    }
  }

  .active {
    width: 645px;
    .card {
      &__content {
        &-heading {
          padding-top: 219px;
          font-size: clamp(1.5rem, 1.012rem + 0.62vw, 1.75rem);
          line-height: 33px;
        }
        &-inner {
          flex-direction: column-reverse;
          .txt {
            opacity: 1;
            transform: none;
            padding-bottom: 29px;
          }
        }
      }
    }
  }
}
@media (max-width: 1650px) {
  .news {
    padding-top: 420px;
  }
}
@media (max-width: 1270px) {
  .news {
    padding-top: 100px;
    .card {
      width: 645px;
      &:nth-child(1) {
        display: none;
      }
      &__content {
        &-heading {
          font-size: 24px;
        }
      }
    }
  }
}
@media (max-width: 885px) {
  .news {
    &__container {
      position: relative;
    }
    &__wrapper {
      flex-direction: column;
      gap: 520px;
    }
    .card {
      width: 90%;
      position: absolute;
      top: 80px;
      left: 15px;
      right: 15px;
      margin: auto;
    }
    .active .card__content,
    .card__content {
      &-heading {
        padding-top: 120px;
      }
    }
  }
}
@media (max-width: 700px) {
  .news {
    padding-top: 60px;
    padding-bottom: 60px;
    .card:nth-child(2) {
      display: none;
    }
  }
}
@media (max-width: 395px) {
  .news {
    .card {
      top: 110px;
    }
  }
}
